# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

.ipynb_checkpoints/

structure.txt
data_lake/

cache/
data_lake/cache/
fastf1_http_cache.sqlite

mlruns/
mlflow.db
notebooks/mlartifacts/
notebooks/mlflow.db

models/*.pkl
models/*.joblib
*.pkl
*.joblib

*.crc
_SUCCESS
.part-*.crc

.DS_Store
Thumbs.db